<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Portfolio: Software Engineering</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >
</head>
<body>
    <main class="container">
        <section class="start-card">
            <p class="label">Herzlich Willkommen bei Hotel Mystery</p>

            <p>
                Im Rahmen des Moduls Portfolio Software Engineering habe ich dieses logikbasiertes Rundenspiel entwickelt. 

                Hierbei geht es darum über drei Runden hinweg verschiedene Gäste einzelnen Zimmer zuzuordnen.

            </p>
<p>
    <a
        class="rules-link"
        href="{{ url_for('help_page') }}"
    >
        i
    </a>
</p>
            <form
                action="{{ url_for('start_game') }}"
                method="post"
                style="text-align: center;"
            >
                <button
                    class="button"
                    type="submit"
                >
                    Neues Spiel starten
                </button>
            </form>
        </section>
    </main>
</body>
</html>